# npm
node_modules
yarn.lock
package-lock.json
# Build data
build/
build-wasm/
js
js_wasm
*.log
__*
*.tsbuildinfo
# our stuff
prebuilds
docs/*db*
helpers/vcpkg-export
helpers/CMakeExtras.txt
tests/test*
tests/mctestdb/*
leveldb-mcpe